[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

zerorpc = "*"
structlog = "*"


[dev-packages]

pytest = "*"
pylint = "*"
isort = "*"
"autopep8" = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
pytest-cov = "*"


[requires]

python_version = "3.6"
