-i https://pypi.python.org/simple/
future==0.18.1
gevent==1.5a1
greenlet==0.4.15 ; platform_python_implementation == 'CPython'
msgpack-python==0.5.6
pyzmq==18.1.0
six==1.12.0
structlog==18.1.0
zerorpc==0.6.1
